KERNEL=="mmcblk[0-9]*p[0-9]*", SUBSYSTEM=="block", ACTION=="add" RUN+="PATH/hook.sh '%k'"
KERNEL=="[hs]d[a-z][0-9]*",    SUBSYSTEM=="block", ACTION=="add" RUN+="PATH/hook.sh '%k'"
KERNEL=="sd[a-z][0-9]*",       SUBSYSTEM=="block", ACTION=="add" RUN+="PATH/hook.sh '%k'"